<button class="btnAcross" ui-sref="home"><i class="fa fa-arrow-left"></i>
    Go Back</button>
<div class="hea">Dolton's Schedule</div>
<div class="he">February 22 to February 27</div>
<div class="row">
    <div class="col-sm-4 days" >MONDAY</div>
    <div class="col-sm-8 hours">7:30am - 4:30pm</div>
</div>

<div class="row">
    <div class="col-sm-4 days" >TUESDAY</div>
    <div class="col-sm-8 hours">7:30am - 4:30pm</div>
</div>
<div class="row">
    <div class="col-sm-4 days" >WEDNESDAY</div>
    <div class="col-sm-8 hours">OFF</div>
</div>
<div class="row">
    <div class="col-sm-4 days" >THURSDAY</div>
    <div class="col-sm-8 hours">7:30am - 4:30pm</div>
</div>
<div class="row">
    <div class="col-sm-4 days" >FRIDAY</div>
    <div class="col-sm-8 hours">7:30am - 4:30pm</div>0
</div>
<div class="row">
    <div class="col-sm-4 days" >SATURDAY</div>
    <div class="col-sm-8 hours">8:00am - 5:00pm</div>
</div>

