<div>

    <button class="btnAcross" ui-sref="home"><i class="fa fa-arrow-left"></i>
        Go Back</button>

    <div class="img-responsive"
         style="background: url('Pictures/dude.jpeg') no-repeat top center;
     background-size:contain;">


        <div>

           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>
           <div>.</div>

        </div>

    </div>

</div>