<div class="large-padded-row">
    <h3>Search Name</h3>

    <div class="padded-row">
        <angucomplete id="ex2" placeholder="Search Your Name" pause="300" selectedobject="selectedPerson"
                      localdata="hc.people" searchfields="firstName" titlefield="firstName" descriptionfield="twitter"
                      imagefield="pic" minlength="1" inputclass="form-control form-control-small"
                      matchclass="highlight"/>
        <!--<angucomplete id="ex2" placeholder="Search Your Name" pause="300" selectedobject="selectedPerson" localdata="hc.people" searchfields="firstName,surname" titlefield="firstName,surname" descriptionfield="twitter" imagefield="pic" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />-->
    </div>
    <div class="" ng-show="selectedPerson">
        You selected <span class="bold-span">{{selectedPerson.originalObject.firstName}}</span>
    </div>
</div>
<h1>Name</h1>
<input type="text"  ng-model="hc.firstName">
<h>Date</h>
<input type="week" ng-change="hc.saveWeek()" ng-model="hc.week">


<button class="btn btn-success" ng-click="hc.addWorkers()">Add Employee</button>

<h1>Week: {{hc.workers[hc.useId].currentWeek}}</h1>
<div class="container">
    <h2>Time Schedule</h2>
    <table class="table table-bordered bor">
        <thead>
        <tr>
            <th>Name</th>
            <th class="greys center">Monday</th>
            <th class="greyss center">Tuesday</th>
            <th class="greys center">Wednesday</th>
            <th class="greyss center">Thursday</th>
            <th class="greys center">Friday</th>
            <th class="greyss center">Saturday</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bo" ng-repeat="worker in hc.workers">
            <td><span class="label label-info lgFont">{{worker.firstName}}</span><br>
                <!--<button class="btn btn-danger btnMar" ng-click="hc.workers.$remove(worker)">x</button>-->
                <button class="btn btn-success btnMar" ng-click="hc.send(worker.Id, $index)">SAVE</button>
            </td>
            <!--Monday-->
            <td class="grey">Start: <input class="nI" type="number" ng-model="hc.MonHourS[$index]" min="6" max="11">:
                <input class="nIs"  type="text" ng-model="hc.MonHalfS[$index]"><span class="badge">am</span>

                <!-- ng-model="item.title" ng-change="list.$save(item)"-->

                <br>End : <input class="nI" type="number" ng-model="hc.MonHourE[$index]" min="1" max="7">: <input
                        class="nIs" type="text" ng-model="hc.MonHalfE[$index]"><span class="badge">pm</span>
            </td>
            <!--Tuesday-->
            <td class="greyss">Start: <input class="nI" type="number" ng-model="hc.TuesHourS[$index]" min="6" max="11">:
                <input class="nIs" step="30" type="text" ng-model="hc.TuesHalfS[$index]"><span class="badge">am</span>
                <br>End : <input class="nI" type="number" ng-model="hc.TuesHourE[$index]" min="1" max="7">: <input
                        class="nIs" type="text" ng-model="hc.TuesHalfE[$index]"><span class="badge">pm</span>
            </td>
            <!--Wednesday-->
            <td class="grey">Start: <input class="nI" type="number" ng-model="hc.WedHourS[$index]" min="6" max="11">:
                <input class="nIs" step="30" type="text" ng-model="hc.WedHalfS[$index]"><span class="badge">am</span>
                <br>End : <input class="nI" type="number" ng-model="hc.WedHourE[$index]" min="1" max="7">: <input
                        class="nIs" type="text" ng-model="hc.WedHalfE[$index]"><span class="badge">pm</span>
            </td>
            <!--Thurday-->
            <td class="greyss">Start: <input class="nI" type="number" ng-model="hc.ThursHourS[$index]" min="6" max="11">:
                <input class="nIs" step="30" type="text" ng-model="hc.ThursHalfS[$index]"><span class="badge">am</span>
                <br>End : <input class="nI" type="number" ng-model="hc.ThursHourE[$index]" min="1" max="7">: <input
                        class="nIs" type="text" ng-model="hc.ThursHalfE[$index]"><span class="badge">pm</span>
            </td>
            <!--Friday-->
            <td class="grey">Start: <input class="nI" type="number" ng-model="hc.FriHourS[$index]" min="6" max="11">:
                <input class="nIs" step="30" type="text" ng-model="hc.FriHalfS[$index]"><span class="badge">am</span>
                <br>End : <input class="nI" type="number" ng-model="hc.FriHourE[$index]" min="1" max="7">: <input
                        class="nIs" type="text" ng-model="hc.FriHalfE[$index]"><span class="badge">pm</span>
            </td>
            <!--Saturday-->
            <td class="greyss">Start: <input class="nI" type="number" ng-model="hc.SatHourS[$index]" min="6" max="11">:
                <input class="nIs" step="30" type="text" ng-model="hc.SatHalfS[$index]"><span class="badge">am</span>
                <br>End : <input class="nI" type="number" ng-model="hc.SatHourE[$index]" min="1" max="7">: <input
                        class="nIs" type="text" ng-model="hc.SatHalfE[$index]"><span class="badge">pm</span>
            </td>
        </tr>


        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
                </thead>
                <!--Name-->
                <tbody>
                <tr ng-repeat="worker in hc.workers">
                    <td><span class="label label-info lgFont">{{worker.firstName}}</span></td>
                    <td>Start: {{worker.MondayStart}} <br>End: {{worker.MondayEnd}}</td>
                    <td>Start: {{worker.TuesdayStart}} <br>End: {{worker.TuesdayEnd}}</td>
                    <td>Start: {{worker.WednesdayStart}} <br>End: {{worker.WednesdayEnd}}</td>
                    <td>Start: {{worker.ThursdayStart}} <br>End: {{worker.ThursdayEnd}}</td>
                    <td>Start: {{worker.FridayStart}} <br>End: {{worker.FridayEnd}}</td>
                    <td>Start: {{worker.SaturdayStart}} <br>End: {{worker.SaturdayEnd}}</td>
                </tr>
                </tbody>
            </table>
        </div>


        </tbody>
    </table>
</div>
<div class="container">
    <h2>Delete Workers</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success" ng-repeat="worker in hc.workers">
            <td>{{worker.firstName}}</td>
            <td><button class="btn btn-danger" ng-click="hc.deleteWorker(worker.Id,$id)">Delete</button></td>
        </tr>

        </tbody>
    </table>
</div>